@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.player-container {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: 600px 600px;
}

.player-img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  transform: scaleX(-1);
}

.enemy-img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
}

progress[value]::-webkit-progress-bar {
  background-color: #e4e4e4;
  display: inline-block;
  border-radius: 50px;
}

.success {
  margin-bottom: 30px;
}

.warning {
  margin-bottom: 30px;
}

.low {
  margin-bottom: 30px;
}

.success[value]::-webkit-progress-value {
  background-color: #11fd00;
  border-radius: 50px;
}

.warning[value]::-webkit-progress-value {
  background-color: #ead203;
  border-radius: 50px;
}

.low[value]::-webkit-progress-value {
  background-color: #f80004;
  border-radius: 50px;
}

.attack-button {
  cursor: pointer;
  border: solid;
  margin: 2px 2px 2px;
  min-height: 40px;
  width: 200px;
  font-family: Raleway, serif;
  font-weight: bold;
  background: transparent;
  color: white;
}

.attack-button:hover {
  background: white;
  color: black;
  border-color: white;
}

.disab-attack-button {
  cursor: pointer;
  border: solid;
  margin: 2px 2px 2px;
  min-height: 40px;
  width: 200px;
  font-family: Raleway, serif;
  font-weight: bold;
  background: transparent;
  opacity: 0.2;
  color: white;
}
#playerSprite {
  position: relative;
}

#comSprite {
  position: relative;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}

@keyframes commove {
  from {
    right: 0px;
  }
  to {
    right: 100px;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes faint {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.player-name {
  margin: 0;
}

.progress-bar {
  margin-bottom: 30px;
}

.winner-img {
  height: 60px;
  margin-bottom: 30px;
}

.end-button {
  cursor: pointer;
  border: solid;
  margin: 6px;
  min-height: 100px;
  width: 300px;
  font-size: 20px;
  font-family: Raleway, serif;
  font-weight: bold;
  background: transparent;
  color: white;
}

.end-button:hover {
  background: white;
  color: black;
  border-color: white;
}

.pokeball:hover {
  cursor: pointer;
}

.quit-button {
  cursor: pointer;
  border: solid;
  margin-top: 100px;
  min-height: 30px;
  width: 100px;
  font-family: Raleway, serif;
  font-weight: bold;
  background: transparent;
  color: white;
  opacity: 0.4;
}

.quit-button:hover {
  cursor: pointer;
  border: solid;
  margin-top: 100px;
  min-height: 30px;
  width: 100px;
  font-family: Raleway, serif;
  font-weight: bold;
  opacity: 1;
}
