.App {
  text-align: center;
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background: linear-gradient(315deg, rgb(232, 51, 52), rgb(254, 219, 209));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logoDiv {
  border: 0;
  float: left;
  position: relative;
} 

.pokeball {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
 } 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Grid-img {
  display: inline-grid;
  max-width: 100%;
  -webkit-filter: brightness(90%);
  transition: all 0.2s ease-in-out;
}

.Grid-img:hover {
  -webkit-filter: brightness(100%);
  transform: scale(1.1);
}

.btn:disabled {
  color: blue;
}

.pressPokeBall {
  font-weight: bold;
  -webkit-animation: flickerAnimation 3s infinite;
  -moz-animation: flickerAnimation 3s infinite;
  -o-animation: flickerAnimation 3s infinite;
  animation: flickerAnimation 3s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.player-container{
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 500px 500px;
}

.player-img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  transform: scaleX(-1);
}

.enemy-img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;

}

.attack-button {
  border: solid;
  margin: 2px 2px 2px;
  min-height: 40px;
  width: 200px;
  font-family: Raleway, serif;
  font-weight: bold;
  background: transparent;
  color: white;
}


